<div class="page-width">
    <div class="section-header text-center">
        <h2>
            {{ block.settings.title }}
        </h2>
        <ul class="grid grid--uniform grid--view-items">
                <li class="grid__item grid__item--collection small--one-half medium-up--one-quarter">
                    <div class="grid-view-item product-card">
                        {{ block.settings.sub-title }}
                    </div>
                </li>
        </ul>
    </div>
</div>


